
@{
    Layout = null;
}

@using Model;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../css/table.css"
          type="text/css"></link>
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
</head>

<script type="text/javascript">
    //控件判断不能为空
    function check() {
        if (document.getElementById("secondKind.secondSalaryId").value == "") {
            alert("薪酬发放责任人编号不能为空!!!");
            return false;
        }
        if (document.getElementById("secondKind.secondSaleId").value == "") {
            alert("销售责任人编号不能为空!!!");
            return false;
        }
        document.forms[0].submit();
    }
</script>

<body>
    <div id="app">
        @{Second_kind second = ViewBag.s; }
        <form action="" method="post" v-on:submit="ti()">

            <table width="100%">
                <tr>
                    <td>
                        <font color="black">
                            您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--II级机构设置--II级机构变更
                        </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="submit" value="提交" class="BUTTON_STYLE1">
                        <input type="button" value="返回" class="BUTTON_STYLE1"
                               onclick="window.location.href='/KeHu/Eji'">
                    </td>
                </tr>
            </table>

            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <input type="hidden" name="cfsk.fskId" value=761 class="INPUT_STYLE1" />
                <tr>
                    <td width="19%" class="TD_STYLE1">
                        I级机构名称
                    </td>
                    <td width="81%" class="TD_STYLE2">
                        <input type="text" name="cfsk.firstKindName" readonly="readonly" class="INPUT_STYLE1" v-model="mc">
                    </td>
                </tr>
                <tr>
                    <td width="19%" class="TD_STYLE1">
                        II级机构编号
                    </td>
                    <td width="81%" class="TD_STYLE2">
                        <input type="text" name="cfsk.secondKindId" readonly="readonly" class="INPUT_STYLE1" v-model="bh">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        II级机构名称
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="cfsk.secondKindName" readonly="readonly" class="INPUT_STYLE1" v-model="name">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        薪酬发放责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
                    </td>
                    <td class="TD_STYLE2">
                        <textarea rows="4" cols="120" name="cfsk.secondSalaryId" class="TEXTAREA_STYLE1" v-model="xc"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        销售责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
                    </td>
                    <td class="TD_STYLE2">
                        <textarea rows="4" cols="120" name="cfsk.secondSaleId" class="TEXTAREA_STYLE1" v-model="xs"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    mc: "",
                    bh: "",
                    name: "",
                    xc: "",
                    xs:"",
                }
            },
            methods: {
                find() {
                    this.mc= @Html.Raw(Json.Encode(second.first_kind_name));
                    this.bh = @Html.Raw(Json.Encode(second.second_kind_id));
                    this.name = @Html.Raw(Json.Encode(second.second_kind_name));
                    this.xc = @Html.Raw(Json.Encode(second.second_salary_id));
                    this.xs= @Html.Raw(Json.Encode(second.second_sale_id));
                },
                ti() {
                   /* alert(this.bh);*/
                    axios.get("/KeHu/EjiXiuu", {
                        params: {
                            second_kind_id: this.bh,
                            second_salary_id: this.xc,
                            second_sale_id: this.xs
                        }
                    })
                        .then(res => {
                            if (res.data == "1") {
                                location.href = 'EjiXiuCg';
                            } else {

                            }
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }
            },
            mounted: function () {
                this.find();
            }
        })
    </script>
</body>
</html>

